@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato";
  font-weight: normal;
  src: url("fonts/Lato-Medium.ttf");
}

@font-face {
  font-family: "Lato";
  font-weight: bold;
  src: url("fonts/Lato-Bold.ttf");
}

@font-face {
  font-family: "Lato";
  font-style: italic;
  src: url("fonts/Lato-Italic.ttf");
}

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: normal;
  src: url("fonts/Lato-MediumItalic.ttf");
}

@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: bold;
  src: url("fonts/Lato-BoldItalic.ttf");
}

* {
  scrollbar-width: thin;
  scrollbar-color: #31ade0 #dcdcdc;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #dcdcdc;
}

*::-webkit-scrollbar-thumb {
  background-color: #31ade0;
  border-radius: 20px;
  border: 0px solid #dcdcdc;
}


* {
  font-family: "Lato", "Arial";
  font-size: 18px;
  text-align: left;
}

body {
  margin: 0;
}

a:hover {
  color: #2eaddf;
}

a {
  color: #2c363e;
}

h1 {
  font: normal normal bold 24px/29px "Lato";
  letter-spacing: 2.59px;
  color: #2c363e;
}

.msg-error {
  color: #d8000c;
  font-size: 12px;
  margin: 2px auto;
}

.msg-success {
  color: #98c33e;
  font-size: 12px;
  margin: 2px auto;
}

.container {
  display: flex;
  min-width: 100%;
  padding: 0;
}

.sidenav {
  /*https://stackoverflow.com/questions/15358646/css-position-div-to-bottom-of-containing-div*/
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 5px 0 20px #00000029;
  width: 25vw;
  min-height: 100vh;
  z-index: 2;
  background-color: white;
  overflow: hidden;
  color: #7e7e7e;
  font: normal normal medium 17px/21px "Lato";
  padding-top: 20px;
}

.sidenav-icon{
  height: 33px;
  width: 33px;
  margin-right: 5px;
}

.panel-scroll {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.sidenav_row {
  box-sizing: border-box;
  width: 100%;
}

.main {
  position: relative;
  box-sizing: border-box;
  margin-left: 25vw;
  min-height: 100vh;
  z-index: 1;
  overflow-x: hidden;
  color: #7e7e7e;
  padding: 50px 0px 50px 50px;
}

.main::before {
  /*https://css-tricks.com/snippets/css/transparent-background-images/*/
  content: "";
  background-image: url("imagens/noun_backgroung.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.7;
  z-index: -1;
}

.logo {
  box-sizing: border-box;
  width: 60%;
  display: block;
  margin: 20px auto;

}

.welcome_box {
  box-sizing: border-box;
  margin: 30px;
  margin-top: 35px;
}

#welcome {
  font: normal normal medium 17px/21px "Lato";
  letter-spacing: -0.12px;
  color: #7e7e7e;
  opacity: 1;
  margin-bottom: 3px;
}

#user_name {
  font: normal normal bold 24px/35px "Lato";
  text-decoration: none;
  letter-spacing: 0.23px;
  color: #2c363e;
  opacity: 1;
  margin-bottom: 3px;
}

#user_category {
  font: normal normal 300 14px/17px "Lato";
  letter-spacing: -0.1px;
  color: #7e7e7e;
  opacity: 1;
  margin-bottom: 15px;
}

#acessos_rapidos {
  box-sizing: border-box;
  font: normal normal medium 17px/21px "Lato";
  letter-spacing: -0.58px;
  color: #ababab;
  margin-left: 35px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.sidenav_row button {
  display: block;
  width: 100%;
  background-color: transparent;
  color: #7e7e7e;
  border: solid transparent 6px;
  padding: 2px 35px;
}

.sidenav_row button:hover {
  color: #2c363e;
  border-width: solid 6px;
  border-left-color: #98c33e;
}

.log_out_box {
  display: block;
  margin-top: auto;
  width: 100%;
}

.semlogin {
  display: block;
  margin-top: auto;
  margin-bottom: 40px;
  width: 100%;
}

.log_out_box hr {
  border: 1px solid #dcdcdc;
  margin: 7px 0 4px 0;
}

.log_out_box #upskill_logo {
  width: 98px;
  height: 33px;
  margin: 0 0 0 20px;
}

.main .first_row {
  margin-right: 125px;
}

.icon1 {
  box-sizing: border-box;
  width: 100%;
  display: block;
  margin: auto;
}

.main #texto-intro {
  text-align: left;
  font: normal normal medium 21px/24px "Lato";
  letter-spacing: -0.73px;
  color: #7e7e7e;
}

.main .intro {
  box-sizing: border-box;
  width: 100%;
  display: block;
  margin: auto;
}

.main #vista_geral {
  font: normal normal 600 15px/18px "Lato";
  letter-spacing: 2.08px;
  color: #7e7e7e;
  margin-top: 75px;
  margin-bottom: 25px;
}

.main .middle-row {
  box-sizing: border-box;
  background: transparent linear-gradient(90deg, #ffffffb9 0%, #ffffff7e 100%) 0% 0% no-repeat padding-box;
  border-radius: 6px;
  z-index: 1;
  /*to be checked*/
  padding-top: 36px;
  padding-left: 12.5px;
  padding-bottom: 36px;
  margin-bottom: 12px;
}

.main .card_box {
  box-sizing: border-box;
  background-color: transparent;
  margin-left: 22.5px;
  margin-right: 22.5px;
  width: 25%;
}

.main .card:hover {
  background-color: white;
  z-index: 2;
  position: relative;
  border-radius: 6px;
}

.horizontal-border {
  width: 15%;
  margin: auto;
  height: 6px;
  border-radius: 6px;
}

.main .card_box:hover .horizontal-border {
  /*https://stackoverflow.com/questions/4502633/how-to-affect-other-elements-when-one-element-is-hovered/32470900#32470900*/
  background-color: #98c33e;
}

.main .card_box:hover .horiz_blue{
  background-color: #31ade0;
}

.main .card {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 0;
}

.card_box * {
  text-align: center;
  box-sizing: border-box;
  border: none;
}

.card-body {
  padding: 25px 31px;
}

.main h5 {
  padding: 0;
  margin: 0;
}

.utentes {
  font: normal normal 300 27px/33px Lato;
  letter-spacing: 0.22px;
  color: #2c363e;
}

#num_utentes {
  font: normal normal 900 27px/33px Lato;
  /*rever*/
}

#num_atrasados {
  font: normal normal 600 15px/18px Lato;
  letter-spacing: 0.94px;
  color: #7e7e7e;
}

.linha_1 {
  font: normal normal 600 15px/18px Lato;
  letter-spacing: 0.45px;
  color: #2c363e;
}

.linha_2 {
  font: normal normal 600 15px/18px Lato;
  letter-spacing: 0.94px;
  color: #7e7e7e;
  margin-top: 29px;
  margin-bottom: 47px;
}

.pad{
  padding: 0 14px 0 14px;
}

.wait_list {
  margin-bottom: 18px;
}

.card-title {
  padding-top: 25px;
  font: normal normal bold 16px/19px Lato;
  letter-spacing: 2.22px;
  color: #2c363e;
}

.card-text {
  padding-top: 37px;
  text-align: center;
  font: normal normal bold 17px/21px Lato;
  letter-spacing: 0.1px;
  color: #98c33e;
  margin-bottom: 55px;
}

#num_consulta {
  padding-left: 26px;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #707070;
  border-radius: 6px;
}

.main .last-row {
  margin-top: 50px;
}

.checkin_img{
  width: 220px;
  height: 201px;
}

/* Carousel*/

.slide {
  width: 70%;
  display: block;
  margin: auto;
}

.seta {
  border: none;
  background-color: transparent;
  opacity: 1;
}

.seta:hover {
  opacity: 0.6;
}

.carousel-control-prev {
margin-left: -90px;
}

.carousel-control-next {
  margin-right: -90px;
}

.simbolo_seta {
  font-size: 30px;
  color: #31ade0;
}

/*Login*/

.white_box {
  margin: 10px auto;
  padding: 30px 50px;
  box-shadow: 5px 0px 20px #00000029;
  background: transparent linear-gradient(90deg, #ffffffb9 0%, #ffffff7e 100%) 0% 0% no-repeat padding-box;
  width: 750px;
  min-height: 600px;
}

.logo_small {
  margin: 20px;
  max-height: 85px;
}

.main-col {
  box-sizing: border-box;
  margin: auto;
  width: 350px;
}

.login-form {
  box-sizing: border-box;
  width: 100%;
}

.input-row {
  box-sizing: border-box;
  position: relative;
  margin: 25px auto;
  width: 100%;
}

.form-control {
  text-align: left;
  font: normal normal bold 15px/18px Lato;
  color: #707070;
}

.form-input {
  position: relative;
  box-sizing: border-box;
  padding: 12.5px 25px;
  text-align: left;
  font: normal normal bold 15px/18px Lato;
  color: #707070;
  height: 50px;
  width: 100%;
  border: 1px solid #707070;
  border-radius: 6px;
}

.big-form-input {
  position: relative;
  box-sizing: border-box;
  padding: 12.5px 25px;
  text-align: left;
  font: normal normal bold 15px/18px Lato;
  color: #707070;
  height: 80%;
  width: 100%;
  border: 1px solid #707070;
  border-radius: 6px;
}

option {
  font: normal normal bold 15px/18px Lato;
}

.login-a {
  display: inline-block;
  margin: 10px auto;
  font: normal normal bold 15px/18px Lato;
  color: #707070;
}

/*registo*/

.box-align-left {
  margin: 0px;
}

.registo {
  margin: auto;
}

.img-fill-form {
  margin: 20px;
  max-height: 120px;
}

.nota {
  font-size: 14px;
}

.registry-form .row {
  box-sizing: border-box;
  padding: 10px auto;
}

/* Pagina inicial sem registo*/

#bem-vindo {
  font: normal normal bold 30px/35px "Lato";
  letter-spacing: 0.25px;
  color: #2c363e;
  margin: auto;
}

.botao_acessos {
  box-sizing: border-box;
  display: block;
  margin: auto;
  width: 100%;
  background-color: transparent;
  text-decoration: none;
  color: #7e7e7e;
  border: solid transparent 6px;
  padding: 8px 35px;
}

.botao_acessos:hover {
  text-decoration: none;
  color: #2c363e;
  border-width: solid 6px;
  border-left-color: #98c33e;
  cursor: pointer;
}

.sidenav .botao_acessos:focus {
  outline: none;
}

.main .middle-row2 {
  box-sizing: border-box;
  margin: auto;
  margin-top: 110px;
}

.main .card_box2 {
  box-sizing: border-box;
  height: 100%;
  border-radius: 10px;
  background: transparent linear-gradient(90deg, #ffffffb9 0%, #ffffff7e 100%) 0% 0% no-repeat padding-box;
  box-shadow: 7px 7px 20px 7px grey;
}

.card_box2 * {
  box-sizing: border-box;
  border: none;
  display: block;
  margin: auto;
  text-align: center;
}

.main .card_box2:hover {
  background-image: linear-gradient(to bottom, #31ade0 0%, #98c33e 100%);
  opacity: 0.9;
}

.main .card2 {
  box-sizing: border-box;
  height: 100%;
  min-width: 100%;
  background-color: transparent;
}

.card-body2 {
  box-sizing: border-box;
  height: 100%;
  min-width: 100%;
  padding: 25px 30px;
}

.card-body2 h2, h3 {
  color: #000000;
  margin: 10px;
  font: normal normal bold 27px/30px "Lato";
  letter-spacing: 1.5px;
  color: #2c363e;
}

.card-body2 span {
  font: normal normal bold 40px/24px "Lato";
  color: #98c33e;
  padding: 15px;
}

.card-body2 p {
  color: #36383b;
  font-size: 14px;
  line-height: 20px;
  font-family: "Lato";
  margin: 10px;
}

.main .card_box2:hover h3 {
  color: white;
}

.main .card_box2:hover span {
  color: #000000;
}

/*Perfil*/

.perfil-main-col {
  box-sizing: border-box;
  margin: auto;
  width: 100%;
}

.perfil-row {
  display: inline-flex;
  position: relative;
  box-sizing: border-box;
  width: 100%;
}

.cell-row {
  position: relative;
  box-sizing: border-box;
  width: 45%;
  margin: 12.5px auto;
  font: normal normal normal 15px/18px "Lato";
}

.cell-align-center {
  margin: auto;
}

.cell-morada {
  width: 95%;
}

/*Terms & Conditions*/

.terms p, .terms li {
  text-align: justify !important;
  font-size: 17px !important;
}

/* Invoice Form*/

.help-form {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.margin-form {
  margin-top: 15px;
}

/*Payment History*/

.payment_history {
  font-size: 30px;
  text-align: center;
  color: #00aec5;
  text-transform: uppercase;
  font-weight: bold;
}

.payment_box {
  margin: auto !important;
  padding: 30px !important;
  box-shadow: 5px 0px 20px #00000029 !important;
  background: transparent linear-gradient(90deg, #ffffffb9 0%, #ffffff7e 100%) 0% 0% no-repeat padding-box !important;
  width: 750px !important;
  min-height: 600px !important;
}

.payment_box {
  box-sizing: border-box;
  background-color: transparent;
  margin-left: 22.5px;
  margin-right: 22.5px;
  width: 25%;
}

.payment_values {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.payment_box * {
  text-align: center;
  box-sizing: border-box;
  border: none;
}

.payment_values-body {
  padding: 0px 31px;
}

.pm_main_col {
  display: inline-flex;
  position: relative;
  box-sizing: border-box;
  width: 100%;
}

.payment_row {
  position: relative;
  box-sizing: border-box;
  width: 45%;
  margin: 5px auto;
  font: normal normal normal 15px/18px "Lato";
}

.payment_rowbold {
  position: relative;
  box-sizing: border-box;
  width: 45%;
  margin: 5px auto;
  font: bold 16px/18px "Lato";
  font-weight: bold !important;
}

hr.payment_dash {
  border-top: 2px solid #bbb;
}

.buttons_payment {
  margin-top: 20px;
}

/* Recover Password */

.input1 {
  margin-top: 5px;
  margin-bottom: 5px;
  border-color: #98c33e;
}

.pass1 {
  margin-top: 5px;
  margin-bottom: 5px;
  border-color: #31ade0;
}

.suggestion {
  font: normal normal bold 14px/18px "Lato";
}

.suggestion2 {
  font: normal normal normal 12px/18px "Lato";
}

.footerPass ul {
  text-align: justify;
  padding: 5px;
  margin-top: 5px;
}

/* Forms */

/*Buttons*/

.btn-button {
  background-color: transparent;
  padding: 15px 20px;
  font: normal normal bold 15px/18px "Lato";
  letter-spacing: 0.61px;
  color: #2c363e;
  opacity: 1;
  width: 100%;
  border: 1px solid #707070;
  border-radius: 6px;
}

.btn-2 {
  border: none;
  font: normal normal bold 17px/21px "Lato";
  letter-spacing: 1.24px;
}

.btn-blue {
  position: relative;
  box-sizing: border-box;
  background-color: #31ade0;
  color: white;
  padding: 15px;
  text-align: center;
  font: normal normal bold 15px/18px "Lato";
  letter-spacing: 0.61px;
  width: 100%;
  border: transparent;
  border-radius: 6px;
}

.btn-green {
  position: relative;
  box-sizing: border-box;
  background-color: #98c33e;
  color: white;
  padding: 15px;
  text-align: center;
  font: normal normal bold 15px/18px "Lato";
  letter-spacing: 0.61px;
  width: 100%;
  border: transparent;
  border-radius: 6px;
}

.btn-login {
  display: block;
  margin: auto;
  width: 60%;
}

.btn-w65 {
  width: 65%;
}

button:focus {
  outline: none;
}

.btn-blue:hover, .btn-green:hover {
  color: white;
  opacity: 0.9;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

select option:disabled {
  color: lightgrey;
}

/*Menu inicio: Medico (falta carla rever) */

.user_photo {
  padding: 0px;
  display: block;
  margin: auto;
}

.user_photo img {
  width: 80%;
  border-radius: 50%;
  max-width: 150px;
  max-height: 150px;
}

.user_info {
  padding: 0;
  display: block;
  margin: auto;
}

.btn-w70 {
  width: 70%;
  display: block;
  margin: auto;
  margin-top: 10px;
}

.btn-w40{
  width: 35%;
  display: block;
  margin: auto;
  padding: 10px;
  font-size: 16px;
}

.btn-w40:hover{
  text-decoration: none;
}

.display_time {
  display: block;
  margin: auto;
}

.time_box {
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.date_box {
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

#hour {
  font-size: 45px;
  letter-spacing: 5px;
  color: #403d56;
}

#date {
  color: #7e7e7e;
  font: normal normal bold "Lato";
  font-size: 30px;
}

.middle-row3 {
  margin-top: 60px;
  margin-bottom: 40px;
}

.middle-row3 i {
  padding: 20px;
  font-size: 35px;
  color: #98c33e;
}

.main .card_box2:hover i {
  color: #000000;
}

.fa-clock {
  font-size: 40px;
  color: #98c33e;
}

.clocktime{
  font-size: 30px;
  color: #31ade0;
}

.next_appt {
  margin: auto;
  display: block;
  text-align: center;
}

.text_next_appt {
  font: normal normal bold "Lato";
  font-size: 30px;
  letter-spacing: 2.59px;
  color: black;
}

.text_next_appt2 {
  font: normal normal normal "Lato";
  font-size: 15px;
  color: #707070;
  margin-bottom: 15px;
}

.title_next_appt {
  margin: auto;
  margin-left: 0;
}

.next_appt_time {
  margin-top: 10px;
}

.time_box2 {
  font: normal normal bold "Lato";
  font-size: 35px;
  letter-spacing: 4px;
  color: black;
  display: block;
  margin: auto;
  text-align: center;
}

.date_box2 {
  font: normal normal normal "Lato";
  font-size: 18px;
  color: #707070;
  display: block;
  margin: auto;
  text-align: center;
}

.data_appt {
  font: normal normal normal "Lato";
  text-align: center;
}

.middle {
  margin: auto;
}

.appt_options {
  margin: auto;
  display: block;
}

.patient_name {
  font-size: 20px;
  letter-spacing: 1.5px;
  color: #000000;
}

.patient_age, .patient_birthday {
  font-size: 15px;
  letter-spacing: 1.5px;
  color: #303030;
}

.first_appt_ask {
  font-size: 15px;
  color: #000000;
  margin: 0;
}

/* botoes por carla rever*/

.btn-w100 {
  width: 100%;
  margin-top: 5px;
}

.btn-w85 {
  width: 100%;
  margin-right: auto;
  margin-top: 10px;
}

.btn-w75 {
  width: 75%;
  display: block;
  margin: auto;
  margin-top: 10px;
}

.btn-w74 {
  width: 74%;
  margin-top: 10px;
}

.btn-w70 {
  width: 70%;
  display: block;
  margin: auto;
  margin-top: 10px;
}

.icon2 {
  width: 100%;
  margin-left: 20px;
}

.icon3 {
  padding: 0;
}

.icon3 i {
  font-size: 50px;
  display: block;
  margin: auto;
  padding-top: 10px;
  padding-left: 40px;
  text-align: center;
  color: #676e74;
}

/*Menu Utentes: Medico*/

.white_box2 {
  margin: 10px auto;
  padding: 30px;
  box-shadow: 5px 0px 20px #00000029;
  background: transparent linear-gradient(90deg, #ffffffb9 0%, #ffffff7e 100%) 0% 0% no-repeat padding-box;
  width: 100%;
}

.utente_title {
  margin: auto;
}

.search_patient {
  margin-top: auto;
  margin-bottom: auto;
}

.btn-search {
  background-color: #98c33e;
  color: white;
  border: transparent;
  border-radius: 0.25rem;
  text-align: center;
  box-sizing: border-box;
  font: normal normal bold 15px/18px "Lato";
  letter-spacing: 0.61px;
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-search:hover {
  opacity: 0.8;
  cursor: pointer;
  border: none;
}

.btn-add {
  padding: 10px;
  font: normal normal bold 15px/18px "Lato";
  width: 100%;
}

.btn-add:hover {
  background-color: #98c33e;
  opacity: 0.8;
  cursor: pointer;
  border: none;
}

.choose_spec {
  margin-top: 10px;
}

.add-pat{
  margin-bottom: 10px;
  margin-top: 10px;
}

.add-img{
  width: 178px;
  margin-top: 15px;
  margin-bottom: 27px;
}

.wait-img{
  width: 192px;
  margin-top: 15px;
  margin-bottom: 27px;
}

.add-title{
  margin-top: 9px;
}

.card_list_patient {
  background-color: transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 250px;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  min-width: 251px;
  min-height: 300px;
}

.card_list_doctor {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 250px;
  width: 25%;
  padding: 15px;
  padding-bottom: 0;
  margin: auto;
  margin-top: 10px;
  min-width: 270px;
  min-height: 320px;
}

.w-50 {
  width: 50%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.patient_data * {
  text-align: center;
  font: normal normal normal "Lato";
}

.fa-birthday-cake, .fa-phone-square {
  margin: 4px;
  color: #6c757d;;
}

.spec_title {
  font-size: 15px;
  font-weight: bolder;
  color: #444444;
  margin-top: 5px;
  margin-bottom: 5px;
}

.spec_name {
  font-size: 15px;
  color: #000000
}

.spec_name_pretty{
  font-size: 16px;
  color: white;
  margin: 5px;
}

.ced_title{
  display: block;
  margin: auto;
  font-size: 12px;
 }

.ced_marg{
  margin-top: 5px;
}

.btn-w80 {
  margin: 5px;
  width: 80%;
}

.pretty_spec {
  border: none;
  padding: 5px;
  border-radius: 35px;
  margin: 0 15px 0 15px;
  background-image: linear-gradient(to right, #31ade0 7%, #31ade0 5%, #98c33e 97%);
  box-shadow: 2px 0px 6px #9e9d9d;
}

.spec_name_pretty:hover {
  font-weight: bold;
  cursor: default;
}

/*Menu Consultas: Medico*/

.consultas_title {
  margin-top: auto;
  margin-bottom: auto;
}

.wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

.search_options {
  width: 100%;
  margin-left: 15px;
  border-radius: 0.25rem;
}

.search-container * {
  display: inline;
  margin-bottom: auto;
  vertical-align: middle;
  margin-right: auto;
}

.btn-search2 {
  padding: 6px;
  background-color: #98c33e;
  color: white;
  font-size: 15px;
  border: transparent;
  border-radius: 0.25rem;
  text-align: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-search2:hover {
  opacity: 0.8;
  cursor: pointer;
  border: none;
}

.sm {
  margin: 4px 4px 0 0;
  border: 1px solid #666;
  border-radius: 5px;
  height: 40px;
  width: 20%;
  padding: 0;
  padding-left: 10px;
}

.content-area {
  width: 100%;
}

/*Registo Consulta*/

.status {
  margin: 15px;
}

.info_appt {
  color: #000000;
}

/*Utentes:Inicio*/

.clock2 {
  font-size: 40px;
  color: #31ade0;
}

.margin-row {
  margin-top: 40px;
}

.margin-row .card_box {
  display: inline;
  margin-right: auto;
}

.appt_title {
  color: #000000;
}

.make_appt_img {
  width: 100px;
  height: 100px;
}

.mw-270 {
  min-width: 270px;
  min-height: 388px;
  max-height: 420px;
}

/* Menu Informações Gerais */

.maininfo {
  position: relative;
  box-sizing: border-box;
  margin-left: 25vw;
  min-height: 100vh;
  z-index: 1;
  overflow-x: hidden;
  color: #7e7e7e;
  padding: 50px 0px 50px 20px;
  background-color: transparent;
}

.maininfo::before {
  /*https://css-tricks.com/snippets/css/transparent-background-images/*/
  content: "";
  background-image: url("imagens/noun_backgroung.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.7;
  z-index: -1;
}

.igtitlefont {
  font-size: 35px;
  margin-left: 30px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
}

.divinfo {
  margin-top: 20px;
}

.titleinfo {
  margin-bottom: -1px;
  color: #2c363e;
  font-weight: bold;
  margin-left: 2px;
}

/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_fade*/

.containerinfo {
  position: relative;
  width: 100%;
}

.imginfo {
  max-width: 100%;
  height: auto;
  border: whitesmoke;
  border-radius: 10px;
  display: block;
}

.overlaytextinfo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.containerinfo:hover .overlaytextinfo {
  opacity: 1;
  border-radius: 10px;
}

.textinfo {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*https://www.w3schools.com/howto/howto_css_image_text_blocks.asp*/

.textinfo-block {
  position: absolute;
  bottom: 5px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  border-radius: 10px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

/*Invoice*/

.invoiceimg {
  text-align: right;
  margin: 20px;
  max-height: 85px;
}
.invoice_img{
 width:70%;
  max-width:300px;
}

.answer {
  margin-top: 10px;
}

/*Contacts*/

.contactbox {
  flex-direction: column;
  justify-content: space-evenly;
}

.contactbox1 {
  font-size: x-large;
  font-weight: bold;
}

.contactbox1 select {
  padding: 20px;
}

.contactbox2 {
  margin-top: 30px;
  position: relative;
}

.hidden {
  display: none;
}

.invoice-paid{
  text-align: center;
  font: normal normal 300 27px/33px Lato;
  letter-spacing: 0.22px;
  color: #98c33e;
}

/*Consultas + detalhes*/
.cell-back, .btn-back {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-top: 10px;
}
.appointment-table-title *{
  font-size: 19px ;
}

.appointment-table-details * {
  font-size: 16px ;
  padding: 5px;
}

/*Página mensagem de alerta*/
.white_box3 {
  margin: 10px auto;
  padding: 30px 50px;
  box-shadow: 5px 0px 20px #00000029;
  background: transparent linear-gradient(90deg, #ffffffb9 0%, #ffffff7e 100%) 0% 0% no-repeat padding-box;
  width: 750px;
  min-height: 300px;
}

/*Página Contactos*/

.contact-info * {
  text-align: center;
}

.contact-info {
  display: inline-block;
  width: 100%;
  margin-bottom: 0px;
}

.contact-info-icon {
  margin-bottom: 15px;
}

.contact-info-item {
  padding: 30px 0px;
  margin-top: 30px;
  height: 240px;
  background: transparent linear-gradient(
          90deg, #ffffffb9 0%, #ffffff7e 100%) 0% 0% no-repeat padding-box;
  box-shadow: 5px 0px 20px #00000029;
}

.contact-info-icon i {
  font-size: 48px;
  color: #98c33e;
}

.contact-info-text p {
  margin-bottom: 0px;
}

.contact-info-text h2 {
  color: #31ade0;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact-info-text span {
  color: #999999;
  font-size: 16px;
  display: inline-block;
  width: 100%;
}

.local-map {
  display: block;
  margin: auto;
}

.contact-page-map {
  margin-top: 36px;
}

/*Lista de consultas facturação*/
.specialTable1 {
  font-size: 16px;
}

.specialTable2 {
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
}

/*Factura*/

.invoice-box {
  max-width: 800px;
  margin: auto;
  padding: 25px;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  color: #555;
}

.invoice-box table {
  width: 100%;
  line-height: inherit;
  text-align: left;
}

.invoice-box table td {
  padding: 5px;
  vertical-align: top;
}

.invoice-box table tr td:nth-child(n+2) {
  text-align: right;
}

.invoice-box table tr.top table td {
  padding-bottom: 20px;
}

.invoice-box table tr.information table td {
  padding-bottom: 70px;
}

.invoice-box table tr.heading td {
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

.invoiceimg {
  width: 60%;
  margin: 25px 0 45px 10px;
}

.invoice-upskill {
  width: 70%;
  max-width: 300px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
  form {
    display: block;
    box-sizing: border-box;
    position: relative;
  }
  input {
    display: inline-block;
  }
}