.middle-me {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar {
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.3);
    border-radius: .8rem;
    overflow: hidden;
}

.calendar .day {
    padding: 10px;
    background-color: #31ade0;
    color: white;
    text-align: center;
    display: inline-block;
    margin: auto;
}

.month {
    display: inline-block;
}

.grid-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1px;
    padding: 5px 20px;
    background-color: white;
}

.day-cel {
    text-align: center;
}

.day-cel.header {
    font-weight: 600;
    margin-bottom: 1rem;
    color: black;
}

.aday {
    height: 35px;
    width: 35px;
    position: relative;
    float: left;
    display: inline-block;
}

.month-arrow {
    display: inline-block;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    text-align: center;
    background-color: white;
}

.month-arrow:checked~label {
    color: rgb(87, 87, 87);
    text-align: center;
    font-size: 20px;
    opacity: 0.7;
}

.botao~label {
    border-radius: 5px;
    display: inline-block;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
    color: #888;
}

.botao:checked~label {
    border: solid 3px #31ade0;
    color: #707070;
}

.month-before, .month-after {
    margin: 10px;
}

.cal_red ~ label{
    color: #9C0006;
    background-color: #FFC7CE;
}

.cal_green ~ label{
    color: #006100;
    background-color: #C6EFCE;
}

.cal_yellow ~ label{
    color: #9C5700;
    background-color: #FFEB9C;
}