* {
  font-family: "Lato", "Comic Sans MS";
  font-size: 20px;
  text-align: left;
}

h1 {
  font: normal normal bold 24px/29px Lato;
  letter-spacing: 2.59px;
  color: #2C363E;
}

p {
  font: normal normal medium 21px/24px Lato;
  letter-spacing: -0.73px;
  color: #7E7E7E;
}

.container {
  display: flex;
  min-width: 100vw;
  padding: 0px;
}

.sidenav {
  box-shadow: 5px 0px 20px #00000029;
  opacity: 1;
  min-width: 25vw;
  min-height: 100vh;
  z-index: 2;
  background-color: white;
  overflow-x: hidden;
  color: #7e7e7e;
  font: normal normal medium 17px/21px Lato;
}

.sidenav_row {
  box-sizing: border-box;
  /*border: solid #5B6DCD 10px;*/
  /*to be removed*/
}

.main {
  min-width: 75vw;
  min-height: 100vh;
  z-index: 1;
  background-image: url("imagens/noun_backgroung.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  overflow-x: hidden;
  color: #7e7e7e;
  padding-top: 50px;
  padding-left: 50px;
}

.logo {
  margin: 35px;
}

.welcome_box {
  margin: 0px 0px 0px 35px;
}

#welcome {
  font: normal normal medium 17px/21px Lato;
  letter-spacing: -0.12px;
  color: #7e7e7e;
  opacity: 1;
  margin-bottom: 3px;
}

#user_name {
  font: normal normal bold 29px/35px Lato;
  letter-spacing: 0.23px;
  color: #2c363e;
  opacity: 1;
  margin-bottom: 3px;
}

#user_category {
  font: normal normal 300 14px/17px Lato;
  letter-spacing: -0.1px;
  color: #7e7e7e;
  opacity: 1;
  margin-bottom: 45px;
}

#acessos_rapidos {
  font: normal normal medium 17px/21px Lato;
  letter-spacing: -0.58px;
  color: #ababab;
  margin-left: 35px;
  margin-top: 30px;
  margin-bottom: 10.5px;
}

.sidenav button {
  display: block;
  width: 100%;
  background-color: transparent;
  color: #7e7e7e;
  border: solid transparent 6px;
  padding: 12.5px 38px 0px 35px;
}

.sidenav button:hover {
  color: #2c363e;
  border-width: solid 6px;
  border-left-color: #98c33e;
}

.log_out_box {
  /*Carla fazer*/
  position: relative;
  bottom: 10px;
}

.log_out_box hr {
  border: 1px solid #DCDCDC;
}

.log_out_box #upskill_logo {
  width: 98px;
  height: 33px;
  margin: 0px 0px 0px 20px;
}

.main .first_row {
  margin-right: 125px;
}

.main #vista_geral {
  font: normal normal 600 15px/18px Lato;
  letter-spacing: 2.08px;
  color: #7E7E7E;
  margin-top: 75px;
  margin-bottom: 25px;
}

.main .middle-row {
  box-sizing: border-box;
  /*border: solid #5B6DCD 10px;*/
  box-sizing: border-box;
  background: transparent linear-gradient(90deg, #FFFFFFB9 0%, #FFFFFF7E 100%) 0% 0% no-repeat padding-box;
  border-radius: 6px;
  z-index: 1;
  /*to be checked*/
  padding-top: 36px;
  padding-left: 12.5px;
  padding-bottom: 36px;
  margin-bottom: 12px;
}

.main .card_box {
  box-sizing: border-box;
  /*border: solid #5fcd5b 10px;*/
  background-color: transparent;
  margin-left: 22.5px;
  margin-right: 22.5px;
  width: 25%;
}

.main .card_box:hover {
  background-color: white;
  z-index: 2;
  border-bottom: solid #98c33e 6px;

}

.main .card {
  box-sizing: border-box;
  /*border: solid #635bcd 10px;*/
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.card_box * {
  text-align: center;
  box-sizing: border-box;
  border:none;
}

.card-body {
  padding: 25px;
  padding-left: 31px;
  padding-right: 31px;
}

.main h5 {
  padding: 0px;
  margin: 0px;

}

.utentes {
  font: normal normal 300 27px/33px Lato;
  letter-spacing: 0.22px;
  color: #2C363E;
}

#num_utentes {
  font: normal normal 900 27px/33px Lato;
  /*rever*/
}

#num_atrasados {
  font: normal normal 600 15px/18px Lato;
  letter-spacing: 0.94px;
  color: #7E7E7E;
}

.linha_1 {
  font: normal normal 600 15px/18px Lato;
  letter-spacing: 0.45px;
  color: #2C363E;
}

.linha_2 {
  font: normal normal 600 15px/18px Lato;
  letter-spacing: 0.94px;
  color: #7E7E7E;
  margin-top: 29px;
  margin-bottom: 47px;
}

.wait_list {
  margin-bottom: 18px;
}

.card-title {
  padding-top: 25px;
  font: normal normal bold 16px/19px Lato;
  letter-spacing: 2.22px;
  color: #2C363E;

}

.card-text {
  padding-top: 37px;
  text-align: center;
  font: normal normal bold 17px/21px Lato;
  letter-spacing: 0.1px;
  color: #98C33E;
  margin-bottom:55px ;

}

#num_consulta {

  padding-left: 26px;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #707070;
  border-radius: 6px;
}

.btn-button {
  background-color: transparent;
  padding: 15px 20px;
  font: normal normal bold 15px/18px Lato;
  letter-spacing: 0.61px;
  color: #2C363E;
  opacity: 1;
  width: 100%;
  border: 1px solid #707070;
  border-radius: 6px;
}

.btn-2 {
  border: none;
  font: normal normal bold 17px/21px Lato;
  letter-spacing: 1.24px;
}

.pub{
margin-left: 308px;
margin-right: 106px;
}

.seta{
  color: #31ADE0;
  border: none;
  background-color: transparent;
  }

.seta:hover{
  color:#31ADE0;
}

.carousel-control-prev{
  margin-left: -70px;
 
}

.carousel-control-next{
  margin-right: -70px;
 }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}