* {
  font-family: "Lato", "Comic Sans MS";
  font-size: 20px;
  text-align: left;
}

h1 { 
  font: normal normal bold 24px/29px Lato;
  letter-spacing: 2.59px;
  color: #2C363E;
}


p {
  font: normal normal medium 21px/24px Lato;
  letter-spacing: -0.73px;
  color: #7E7E7E;
}

.container {
  display: flex;
  min-width: 100vw;
  padding: 0px;
}


.sidenav {
  box-shadow: 5px 0px 20px #00000029;
  opacity: 1;
  min-width: 25vw;
  min-height: 100vh;
  z-index: 2;
  
  background-color: white;
  overflow-x: hidden;

  color: #7e7e7e;
  font: normal normal medium 17px/21px Lato;
}

.sidenav_row {
  box-sizing: border-box;
  /*border: solid #5B6DCD 10px;*/ /*to be removed*/
}

.main{
  opacity: 1;
  min-width: 75vw;
  min-height: 100vh;
  z-index: 1;
  
  background-image: url("imagens/noun_backgroung.png");
  background-repeat: no-repeat;
  background-size:cover;

  overflow-x: hidden;

  color: #7e7e7e;
  padding-top: 50px;
  padding-left: 50px;
}

.logo {
  margin: 35px;
}

.welcome_box {
  margin: 0px 0px 0px 35px;
}

#welcome {
  font: normal normal medium 17px/21px Lato;
  letter-spacing: -0.12px;
  color: #7e7e7e;
  opacity: 1;
  margin-bottom: 3px;
}

#user_name {
  font: normal normal bold 29px/35px Lato;
  letter-spacing: 0.23px;
  color: #2c363e;
  opacity: 1;
  margin-bottom: 3px;
}

#user_category {  
  font: normal normal 300 14px/17px Lato;
  letter-spacing: -0.1px;
  color: #7e7e7e;
  opacity: 1;
  margin-bottom: 45px;
}

#acessos_rapidos {
  font: normal normal medium 17px/21px Lato;
  letter-spacing: -0.58px;
  color: #ababab;
  margin-left: 35px;
  margin-top: 30px;
  margin-bottom: 10.5px;
}

.sidenav button {
  display: block;
  width: 100%;

  background-color: transparent;
  color: #7e7e7e;
  border: solid transparent 6px;
  
  padding: 12.5px 38px 0px 35px;
}

.sidenav button:hover {
  color: #2c363e;
  border-width: solid 6px;

  border-left-color: #98c33e;
}

.log_out_box {
	
	bottom: 0px;
}

.log_out_box hr {
  border: 1px solid #DCDCDC;
}

.log_out_box #upskill_logo{
  width: 98px;
  height: 33px;
  margin: 0px 0px 0px 20px;
}

.main #vista_geral{
  font: normal normal 600 15px/18px Lato;
  letter-spacing: 2.08px;
  color: #7E7E7E;

  margin-top: 80px;
  margin-bottom: 25px;
}

.main .middle-row {
  background-color: white;
  opacity: 0.5;
  z-index: 1; /*to be checked*/
  padding-top: 36px;
  padding-bottom: 36px;
  margin-bottom: 12px;
}

.main .card_box{
  text-align: center;
}




@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
